.min-vw-50 {
  min-width: 50vw !important;
}
.max-w-500px {
  max-width: 500px !important;
}
.py-50 {
  padding-block: 50%;
}
.fs-2 {
  font-size: calc(1.3rem + 0.9vw) !important;
}
.fs-3 {
  font-size: calc(1.275rem + 0.6vw) !important;
}
.fs-4 {
  font-size: calc(1.2rem + 0.3vw) !important;
}
.fs-5 {
  font-size: 0.9em !important;
}

body {
  --color-background: hsl(0, 93%, 77%);
  --color-secondary-background: hsl(0, 100%, 73%);
  --color-text: hsl(0, 0%, 94%);

  --bs-body-font-family: 'Open Sans', sans-serif;
  --bs-body-font-size: 16px;
  --bs-body-color: var(--color-text);

  background-color: var(--color-background);
}

.change-btn,
.restart-btn {
  --bs-btn-bg: var(--color-secondary-background);
  --bs-btn-border-color: var(--bs-btn-bg);
  --bs-btn-hover-color: var(--bs-btn-bg);
  --bs-btn-hover-border-color: var(--bs-btn-bg);
}
.canvas {
  background: var(--color-secondary-background);
  aspect-ratio: auto;
}

.game-complete,
.preparing-grid {
  background: hsla(0, 9%, 9%, 0.71);
}

.icon-settings {
  width: 1.5rem;
  height: 1.5rem;
}

.show {
  display: initial !important;
}

@media screen and (width < 500px) and (orientation: portrait) {
  .game-container {
    aspect-ratio: 3/4;
    width: 100% !important;
    height: unset !important;
  }
}
@media screen and (height < 500px) and (orientation: landscape) {
  body {
    --bs-body-font-size: 14px;
  }
  .game-container {
    aspect-ratio: 2/1;
    height: 100% !important;
    max-width: 75vw;
  }
}

@media screen and (width >= 500px) and (height >= 500px) {
  .game-container {
    aspect-ratio: 4/3;
  }
}

@media screen and (width >= 800px) and (height >= 500px) and (min-aspect-ratio: 4/3) {
  .game-container {
    max-width: 80vw;
    aspect-ratio: 5/3;
  }
}

@media screen and (width >= 1000px) and (min-aspect-ratio: 16/9) {
  .game-container {
    max-width: 75vw;
    aspect-ratio: 16/9;
  }
}
