
body {
	font: 16px "Open Sans", sans-serif;
  background: #fb8f8f;
  margin: 0;
	min-height: 100vh;
	color: #f0f0f0;

	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
button::-moz-focus-inner {
  border: 0;
}

form, canvas {
	margin: auto 50px;
}

form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
}
label {
	font-size: 30px;
}
select {
	margin: 0 15px;
	background: rgba(193, 78, 78, 0.71);
	padding: 3px 10px;
	font-size: 14px;
	border: none;
}

canvas {
	background: rgba(193, 78, 78, 0.71);
	-ms-flex-negative: 0;
	    flex-shrink: 0;
}

.game-complete, .preparing-grid {
	display: none;
}
.game-complete, .preparing-grid {
	position: absolute;
	width: 100%; height: 100%;
	background: rgba(25, 21, 21, 0.71);
	color: rgba(240, 240, 240, 0.878);
	text-align: center;
}
.game-complete h1, .preparing-grid h1 {
	font-size: 45px;
	margin-top: 40vh;
}
.restart {
	padding: 10px 20px;
  border-radius: 10px;
	font-size: 20px;
	font-weight: 400;
	outline: none;
	cursor: pointer;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 5px 5px;
	        box-shadow: rgba(0, 0, 0, 0.5) 0 5px 5px;
}
.restart:hover {
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	-webkit-filter: brightness(.9);
	        filter: brightness(.9);
}
#change {
	margin-top: 20px;
}

/* on game completion */
.show {
	display: initial;
}



@media (max-width: 1022px) {
	body {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}
	form, canvas {
		margin: 25px auto;
	}
	form {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;
		
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	form > * {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 50%;
		        flex: 0 0 50%;
		text-align: center;
	}
}
@media (max-width: 650px) {
	label {
		font-size: 20px;
	}
	select {
		font-size: 12px;
	}
	.game-complete h1, .preparing-grid h1 {
		font-size: 35px;
		padding-left: 5px; padding-right: 5px;
	}
}
