.min-vw-50 {
  min-width: 50vw !important;
}
.max-w-500px {
  max-width: 500px !important;
}
.py-50 {
  padding-block: 50%;
}
.fs-2 {
  font-size: calc(1.3rem + 0.9vw) !important;
}
.fs-3 {
  font-size: calc(1.275rem + 0.6vw) !important;
}
.fs-4 {
  font-size: calc(1.2rem + 0.3vw) !important;
}

body {
  --bs-body-font-family: 'Open Sans', sans-serif;
  --bs-body-font-size: 16px;
  --bs-body-color: hsl(0, 0%, 94%);
  background: hsl(0, 93%, 77%);
}
/* button::-moz-focus-inner {
  border: 0;
} */

.canvas {
  background: rgba(193, 78, 78, 0.71);
}

.game-complete,
.preparing-grid {
  background: rgba(25, 21, 21, 0.71);
}

/* on game completion */
.show {
  display: initial !important;
}
